<nav class="sb-topnav navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="initConfig" >eNodeB Integration</a>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="" >Initially Config</a>
        </li>

        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            eNodeB Integration Command
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="dhcpsw">RMV the default Config Data</a>
            <a class="dropdown-item" routerLink="configuringBasicData">Configuring Basic Data</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>