<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav sb-sidenav-light">


            <cdk-virtual-scroll-viewport 
                itemSize="10" 
                class="list-container list-group ">
                <div    class="list-group-item list-group-item-secondary"
                        *cdkVirtualFor="let item of items;">
                    {{item.command}}
                </div>
            </cdk-virtual-scroll-viewport>

            <div class="sb-sidenav-footer">

                <!--<button class="btn btn-info btn-block" 
                        type="button"
                        (click)="copyToClipboard(commandTextArea)">-->
                <button class="btn btn-info btn-block" 
                        type="button"
                        (click)="copyToClipboard()">
                    <i class="fa fa-clipboard"></i>
                    Copiar
                </button>

            </div>
        </nav>
    </div>
</div>